/* DeleteButton.css */
.modal {
  position: absolute;
  top: 30%; /* Adjust this value to position the modal higher */
  left: 50%;
  transform: translate(-50%, -30%); /* Adjust the translate value accordingly */
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}

.modal-delete-button,
.modal-cancel-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-delete-button:hover,
.modal-cancel-button:hover {
  background-color: #0056b3;
}

.modal-cancel-button {
  background-color: #6c757d;
  margin-left: 1rem;
}

.modal-cancel-button:hover {
  background-color: #5a6268;
}
